{% extends 'template.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-sm mt-4">
  <div class="row">
    <h1>Doors</h1>
  </div>
  <div class="row">
    <div class="container-md mt-2 col">
      <p>We supply our doors from Sydney's most reputable door companies.<br>From Hollow Core Doors to Solid Core doors.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-2">
      <img src="/static/suppliers/corinthianDoors.png" class="col-md " style="max-width:90%;">
    </div>  
    <div class="col-md-4 p-2">
      <img src="/static/suppliers/humeDoors.png" class="col-md " style="max-width:90%;">
    </div>  
    <div class="col-md-4 p-2">
      <img src="/static/suppliers/crownDoors.png" class="col-md " style="max-width:90%;">
    </div>  
    <h3>Platinum Cavity Units Available To Order</h3>
  </div>


  <div class="row">
    <h2>Common Door sizes</h2>
    <div class="container-sm-4">
      <table class="table table-striped" style="width: 100%; margin: auto;">
        <colgroup span="3"></colgroup>
        <tbody>
        <tr class="table-dark"style="text-align: left; margin-bottom: 50px;">
        <th>Width (mm)</th>
        <th>Single Height (mm)</th>
        <th>Double Height (mm)</th>
        </tr>
        <tr>
          <td>620</td>
          <td>1300</td>
          <td>2550</td>
        </tr>
        <tr>
          <td>720</td>
          <td>1500</td>
          <td>2950</td>
        </tr>
        <tr>
          <td>770</td>
          <td>1600</td>
          <td>3150</td>
        </tr>
        <tr>
          <td>820</td>
          <td>1700</td>
          <td>3350</td>
        </tr>
        <tr>
          <td>870</td>
          <td>1800</td>
          <td>3550</td>
        </tr>
        <tr>
          <td>920</td>
          <td>1900</td>
          <td>3550</td>
        </tr>
        <tr>
          <td>1020</td>
          <td>2100</td>
          <td>4150</td>
        </tr>
        <tr>
          <td>1200</td>
          <td>2460</td>
          <td>4870</td>
        </tr>
        </tbody>
        </table>
      </div>
    <p>We specialise in the ability to match your frames, match new and old doors, architraves, or other specificatiosn you may require to be able to get you the supply you need to finish your house build.</p>

    <p>We also specialize in the supply of Structural framing LVL’s, Treated Pine & WRC Cladding. A selection of timber flooring, decking and all types of external timbers for constructing decks, pergolas, privacy screening, etc. Most sheet products are available by Rallis Timber which can be cut to size by our professional team.</p>
    <p>With our fleet of four trucks on the road, a quick and efficient delivery service is provided to you covering the metropolitan area and across New South Wales..</p>
  </div>
</div>
  {% endblock %}