{% extends 'template.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<p class="important mt-2">This is a important message </p>
<div class="container mt-2">
  <div class="row text-center g-2">
    <div class="col px-0">
      <a href="#"><img src="/static/temp_crop.jpg" class="rounded "></a>
      <h6>PlaceholderText</h6>
    </div>
    <div class="col">
      <a href="#"><img src="/static/temp_crop.jpg" class="rounded "></a>
      <h6>PlaceholderText</h6>
    </div>
    <div class="col">
      <a href="#"><img src="/static/temp_crop.jpg" class="rounded "></a>
      <h6>PlaceholderText</h6>
    </div>
    <div class="col">
      <a href="#"><img src="/static/temp_crop.jpg" class="rounded "></a>
      <h6>PlaceholderText</h6>
    </div>

  </div>
</div>
  <div class="container-fluid">
    <h3>Timber & Building Supplies in Sydney</h3>
    <div class="row">
      <div class="col col-md-8">
        <p>Rallis Timber is a family run business trading since 1982 founded by the late George Andrianakos and his three sons Hercules, Chris & Bill.Rallis Timber is a traditional timber merchant based at 21 Marrickville Road Marrickville 2204 in the city’s inner west. We provide an old fashion personalised service with expert assistance for your timber & building needs.We specialise in the ability to match your old skirtings, architraves, or other mouldings you may require to be able to restore your house sympathetic to the period in which it was built.</p>
        
      </div>
      <div class="col">
        <div class="container-fluid">
          We also specialize in the supply of Structural framing LVL’s, Treated Pine & WRC Cladding. A selection of timber flooring, decking and all types of external timbers for constructing decks, pergolas, privacy screening, etc.
      
          Most sheet products are available by Rallis Timber which can be cut to size by our professional team.
          
          With our fleet of four trucks on the road, a quick and efficient delivery service is provided to you covering the metropolitan area and across New South Wales.</div>
    
        </div>
    </div>
  </div>

{% endblock %}