{% extends 'template.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>placeholder row 1</h1>
    </div>
    <div class="col">
      <h2>placeholder 2</h2>
    </div>
  </div>
</div>
  <p class="important">This is a important message </p>
  <div class="container-fluid">
    <h3>Timber & Building Supplies in Sydney</h3>
    <div class="row">
      <div class="col col-md-8">
        <p>Rallis Timber is a family run business trading since 1982 founded by the late George Andrianakos and his three sons Hercules, Chris & Bill.Rallis Timber is a traditional timber merchant based at 21 Marrickville Road Marrickville 2204 in the city’s inner west. We provide an old fashion personalised service with expert assistance for your timber & building needs.We specialise in the ability to match your old skirtings, architraves, or other mouldings you may require to be able to restore your house sympathetic to the period in which it was built.</p>
        
      </div>
      <div class="col">
        <div class="container-fluid">
          We also specialize in the supply of Structural framing LVL’s, Treated Pine & WRC Cladding. A selection of timber flooring, decking and all types of external timbers for constructing decks, pergolas, privacy screening, etc.
      
          Most sheet products are available by Rallis Timber which can be cut to size by our professional team.
          
          With our fleet of four trucks on the road, a quick and efficient delivery service is provided to you covering the metropolitan area and across New South Wales.</div>
    
        </div>
    </div>
  </div>
    <div class="container-fluid">
      <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input ty pe="password" name="password" id="password" required>
        <input type="submit" value="Register">
      </form>
    </div>
{% endblock %}