{% extends 'template.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div class="bg-image text-white" style="background-image: url('/static/timberMilling.jpg'); height: 20vh; background-position: none; background-repeat: no-repeat 0 0/cover;">
  <div class="container text-center" style="height: 100%;">
    <div class="row align-items-center" style="height: 100%;">
      <div class="col align-self-center">
        <h1 >MILLING & JOINING</h1>
      </div>
    </div>
  </div>
</div>

<div class="container pt-2">
  <h1>Services</h1>
  <p>Need your timber cut to size? Canterbury Timbers has milling facilities on site, so we have a quick turn around. No job is too big or small. We have experts in the mill that can make your requirements a reality and help you save time.</p>
  <p>We stock a wide variety of timber moulding profiles, including architraves, skirting boards, floorboards, beading, picture rails, fancy moulds, door jambs, dowels, and window profiles. Our door jambs are also available in Pine, Western Red Cedar, or Pacific Maple, whilst our architraves and floorboards are also available in MDF. </p>

  <div class="container  p-0">
    <div class="row">
      <h2>Timber Milling & Moulding Profiles</h2>
      <h5> Below are just some of our skilled services we can fulfil to order</h5>
      <p>Are you looking for timber moulding profiles? Our quality timber moulding profiles, affordable pricing, and knowledgeable staff are just some of the reasons we are Sydney’s most trusted timber merchant.</p>
      <div class="col m-1 border border-3 border-opacity-75 rounded">
        <div class="row">
          <h2 class="border-bottom">Milling</h2>
          <p style="height: 145px;">Rallis Timber can recreate an existing profile in timber – milled to order. We have a huge range of existing profiles in MDF, Timber and Primed Timber, but can also recreate a profile if you bring us a sample.</p>
        </div>

        <div class="row justify-content-center p-3">
          <br>
          <div class="bg-image rounded " style="background-image: url('/static/milllingWood.jpg'); height: 350px; width: 350px; background-size: cover;"></div>
        </div>
      </div>
      
      <div class="col m-1 border border-3 border-opacity-75 rounded">
        <div class="row">
          <h2 class="border-bottom">Moulding</h2>
          <p style="height: 145px;">We stock a wide variety of timber moulding profiles, including architraves, skirting boards, floorboards, beading, picture rails, fancy moulds, door jambs, dowels, and window profiles. Our door jambs are also available in Pine, Western Red Cedar, or Pacific Maple, whilst our architraves and floorboards are also available in MDF.</p>
        </div>
        <div class="row justify-content-center p-3">
          <div class="bg-image rounded " style="background-image: url('/static/profiles.jpg'); height: 350px; width: 350px; background-size: cover; background-position: center;"></div>
        </div>
      </div>

    <div class="col m-1 border border-3 border-opacity-75 rounded">
      <div class="row">

        <h2 class="border-bottom">Custom work</h2>
        <p style="height: 145px;">We specialise in matching and replicating all types of moulding profiles. This is perfect for restoring older houses, replacing a damaged moulding, or matching moulding you like from a different house. Contact us today or visit us in store with a sample of the moulding you would like to match, and our friendly staff will be able to assist you.
        </div>
        <div class="row justify-content-center p-3">
          <div class="bg-image rounded " style="background-image: url('/static/custom.jpg'); height: 350px; width: 350px; background-size: cover; "></div>
        </div>
      
      </div>
      <p>Are you looking for timber moulding profiles? Our quality timber moulding profiles, affordable pricing, and knowledgeable staff are just some of the reasons we are Sydney’s most trusted timber merchant.</p>
    </div>
  </div>

  <div class="container-fluid">
  <table class="table table-striped" style="width: 100%; margin: auto;">
    <colgroup span="4"></colgroup>
    <tbody>
    <tr class="table-dark"style="text-align: left; margin-bottom: 50px;">
    <th>Image</th>
    <th>Profile</th>
    <th>Size (mm)</th>
    <th>Species / Product</th>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/pencil-round.png" width="61" height="150"></td>
    <td><strong>Pencil Round</strong></td>
    <td>42 × 12<br>
    42 × 19<br>
    66 × 12<br>
    66 × 19<br>
    90 × 19</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/bull-nose.png" width="61" height="150"></td>
    <td><strong>Bullnose</strong></td>
    <td>42 × 19<br>
    66 × 19<br>
    90 × 19</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/half-splay.png" width="61" height="150"></td>
    <td><strong>Half Splay</strong></td>
    <td>42 × 19<br>
    66 × 19<br>
    90 × 19<br>
    138 × 19</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/colonial.png" width="61" height="150"></td>
    <td><strong>Colonial</strong></td>
    <td>42 × 12<br>
    42 × 19<br>
    66 × 12<br>
    66 × 19<br>
    90 × 19<br>
    138 × 19</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/quad.png" width="93" height="150"></td>
    <td><strong>Quad</strong></td>
    <td>13 × 13<br>
    19 × 19<br>
    23 × 23<br>
    31 × 31<br>
    41 × 41</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/ovalo.png" width="93" height="150"></td>
    <td><strong>Ovalo</strong></td>
    <td>13 × 13<br>
    19 × 19<br>
    23 × 23<br>
    31 × 31<br>
    41 × 41</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    <tr>
    <td><img loading="lazy" src="https://harpertimber.com.au/wp-content/uploads/2016/06/scotia.png" width="93" height="150"></td>
    <td><strong>Scotia</strong></td>
    <td>10 × 10<br>
    13 × 13<br>
    19 × 19<br>
    23 × 23<br>
    31 × 31<br>
    41 × 41</td>
    <td>Meranti<br>
    Finger Jointed Pine<br>
    MDF</td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
  {% endblock %}