{% extends 'template.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<p class="important">This page contains Our services </p>
  <h1>Services</h1>
  <div class="container-fluid">
    <h6> Below are just some of our skilled services we can fulfil to order</h6>
    <div class="row">
      <div class="col">
        <h2>Milling</h2>
      </div>
      <div class="col">
        <h2>Moulding</h2>
      </div>
      <div class="col">
        <h2>Custom work</h2>
      </div>
    </div>
  </div>
{% endblock %}