{% extends 'template.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-sm mt-4">
  <div class="row">
    <h1>Sheet Products</h1>
    <h4>We stock a large variety of products from a variety of suppliers</h4>
  </div>
  <div class="row">
    
    <div class="container-md mt-2 col">
      
      <p>We stock a wide range of sheet products, including Fibro, Cladding, Compressed Fibro, Constructa-Floor, MDF sheeting, Weathertex, Masonite, Masonite Underlay, Melamine Particleboard, Particleboard Veneers, Marine Ply, Particleboard Flooring, AB, BB, CD Structural and Non Structural Plywood, and Gyprock Plasterboard.</p>

      <div class="row pb-2">
        <table class="table table-striped" style="width: 100%; margin: auto;">
          <colgroup span="3"></colgroup>
          <tbody>
            <tr class="table-dark"style="text-align: left; margin-bottom: 50px;">
              <th>Types</th>
              <th>Info</th>
            </tr>
            <tr>
              <td>Fibro Cladding</td>
              <td>4.5mm / 6mm </td>
            </tr>
            <tr>
              <td>Compressed Fibro</td>
              <td>9mm / 12mm / 15mm / 18mm</td>
            </tr>
            <tr>
              <td>Scyon/Constructa-floor</td>
              <td>2700 x 600 x 19 & 1800 x 900 x 19</td>
            </tr>
            <tr>
              <td>Customwood </td>
              <td>3mm / 4.75mm / 6mm / 9mm / 12mm / 16mm / 18mm / 25mm / 25mm / 32mm</td>
            </tr>
            <tr>
              <td>Weathertex</td>
              <td>More info on supplier website <a href="https://www.weathertex.com.au/products/">WeatherTex</a></td>
            </tr>
            <td>Masonite</td>
            <td>Please Contact Staff about details on this product</td>
            </tr>
            <td>Masonite underlay</td>
            <td>Please Contact Staff about details on this product</td>
            </tr>
            <td>Melamine Particleboard</td>
            <td>Please Contact Staff about details on this product</td>
            </tr>
            <td>Particleboard veneers</td>
            <td>Please Contact Staff about details on this product</a></td>
            </tr>
            <td>Marine Plywood</td>
            <td>Hoop Pine and BS1088 are both available</td>
            </tr>
            <td>Plywood</td>
            <td>C/D structural & bracing available and able to be cut to size, please call staff </td>
            </tr>
            <td>Particleboard flooring</td>
            <td>More info on supplier website <a href="https://www.australianpanelproducts.com.au/ranges/structaflor-general-purpose/">STRUCTAflor</td>
            </tr>
            <td>Gyprock </td>
            <td>Plasterboard & accessories available at the yard, call staff for dimensions available</td>
            </tr>
          </tbody>
        </table>
      </div>

      
    </div>
      
      <p>We specialise in the ability to match your old skirtings, architraves, or other mouldings you may require to be able to restore your house sympathetic to the period in which it was built.</p>
      <p>We also specialize in the supply of Structural framing LVL’s, Treated Pine & WRC Cladding. A selection of timber flooring, decking and all types of external timbers for constructing decks, pergolas, privacy screening, etc. Most sheet products are available by Rallis Timber which can be cut to size by our professional team.</p>
      <p>With our fleet of four trucks on the road, a quick and efficient delivery service is provided to you covering the metropolitan area and across New South Wales..</p>
    </div>
  </div>
</div>
  {% endblock %}