<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock%} - RT page</title>
    {% endblock%}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
        <p>About Us</p>
        <p>Contact Us</p>
        <p>FAQ</p>
        <p>Terms and Condiions</p>
    </footer>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2023 by <a href="http://domain.invalid/">you</a>
        {% endblock %}
    </div>
</body>
</html>