{% extends 'template.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-sm mt-4 ">
  <div class="row">
    <h1>Timber Species Available</h1>
  </div>
  <p>We can also supply a range of timber species in DAR and Mouldings, such as Western Red Cedar, Tasmanian Oak, and Pacific Maple. Western Red Cedar is also available in shingles and shakes, whilst Treated Pine Primed H3, Baltic Pine and Western Red Cedar are all available in weatherboards.</p>
  <h5>All below are available in a variety of sizes from suppliers and can be cut to order size. Call staff to enquire of availabilities and orders</h5>
  <h3 class=" text-center">Australian Timbers</h3>
  <div class="row row-cols-1 row-cols-sm-3 text-center  border border-3 border-opacity-75 rounded" style="background-color:rgb(214, 214, 214);height: 100%;">
    <p style="height: 100%;">White beech</p>
    <p>Blackbutt</p>
    <p>Blackwood</p>
    <p>Brush Box</p>
    <p >Red Cedar</p>
    <p>Coachwood</p>
    <p>Cypress Pine flooring</p>
    <p>Red Gum</p>
    <p>Spotted Gum</p>
    <p>Hardwood sawn (F11/ F14/ F17)</p>
    <p>Silver Ash</p>
    <p>Camphor Laurel</p>
    <p>Ironbark</p>
    <p>Karri</p>
    <p>Hoop Pine</p>
    <p>Turpentine</p>
    <p>Treated Pine (H2/ H3/ Decking)</p>
    <p>Jarrah</p>
    <p>LOSP Primed Pine (H3)</p>
    <p>Queensland Maple</p>
    <p>Silky Oak</p>
    <p>Tallowwood</p>
    <p>Victorian Ash</p>
    <p>YellowTongue</p>
  </div>
  <h3 class=" text-center">Imported  Timbers</h3>
  <div class="row row-cols-1 row-cols-sm-3 text-center  border border-3 border-opacity-75 rounded" style="background-color:rgb(214, 214, 214);">
    <p>American Oak</p>
    <p>American Cherry</p>
    <p>American Rock Maple</p>
    <p>American Walnut</p>
    <p>Black Ebony</p>
    <p>Burmese Teak</p>
    <p>European Beech</p>
    <p>Jelutong</p>
    <p>Fijian Plantation Mahogany</p>
    <p>Sitka Spruce</p>
    <p>Clear Oregon</p>
    <p>Huon Pine</p>
    <p>Kauri Pine</p>
    <p>New Guinea Rosewood</p>
    <p>Pacific maple</p>
    <p>Wenge</p>
    <p>Zebrano</p>
  </div>
  <div>
    <h5>For any other timbers, we can discuss custom importing please enquire online or call us.</h5>
  </div>

</div>
  {% endblock %}