{% extends 'template.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-sm mt-4">
  <div class="row">
    <div class="container">

      <h1>Treated Pine and LVL avaiable</h1>
      <div class="container-md mt-2 col">
        <h4>We stock a large variety of products</h4>
        <p>We have a wide range of LVL products and Treated pine for house and site construction below</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">

      <h3>High-Quality Laminated Veneer Lumber (LVL)</h3>
      <div class="container-fluid">
        
        <p>Laminated veneer lumber (LVL) is made from layers of selected timber species which are heat laminated together. Laminated veneer lumber is stronger, more durable, and can bear more weight than ordinary timber lumber. If you are looking for high-quality laminated veneer lumber in the Sydney area, then look no further than Rallis Timber.<br>Our laminated veneer lumber can be ordered in most sizes and we have a large range of H2 termite treated engineered LVL beams. Laminated veneer lumber is an alternative to less-sustainable hardwood and its strength is comparable to steel and concrete.</p>
        <p>All our laminated veneer lumber can be ordered in most sizes up to twelve metres long, from 90x36 to 525x75. If you are in the Sydney area and are looking for the best quality laminated veneer lumber, then don’t hesitate to contact us.</p>
        <p>Our friendly and knowledgeable staff are available to offer personalized advice and expert assistance to help you find the laminated veneer lumber to suit your job. Our fleet of trucks offers quick and efficient delivery to your job site covering the Sydney area and across New South Wales. Contact us today to discuss the benefits of using our high-quality laminated veneer lumber for your project.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="row pb-2">
      <table class="table table-striped table-bordered" style="width: 70%; margin: auto;">
        <colgroup span="2"></colgroup>
        <tbody>
          <tr class="table-dark "style="text-align: left; margin-bottom: 50px;">
            <th>Height</th>
            <th>Width | All are available up to 12m in length</th>
          </tr>
          <tr>
            <td>36mm</td>
            <td>90mm / 130mm / 150mm / 170mm / 200mm / 240mm / 300mm</td>
          </tr>
          <tr>
            <td>45mm</td>
            <td>90mm / 130mm / 150mm / 170mm / 200mm / 240mm / 300mm / 360mm / 400mm / 450mm</td>
          </tr>
          <tr>
            <td>63mm</td>
            <td>90mm / 130mm / 150mm / 170mm / 200mm / 240mm / 300mm / 360mm / 400mm / 450mm / 450mm</td>
          </tr>
          <tr>
            <td>75mm </td>
            <td>300mm / 525mm</td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>


  <div class="row">
    <div class="col-md">
      <h3>LVL's</h3>
      <p>All LVL can be ordered in most sizes.</p>
      <p>Span tables are available here. <a href="https://www.dindas.com.au/f.ashx/pdf/dindas-hyspan-span-tables-oct13.pdf"> LVL Span Tables</a></p>
      <p>With our fleet of four trucks on the road, a quick and efficient delivery service is provided to you covering the metropolitan area and across New South Wales..</p>
      
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h2>Treated Pine</h2>
      <div class="container-fluid">

        <h6>We are able to order all sizes of Treated Pine and have stock available for purchase</h6>
        <p>Treated pine is a timber that has been treated with chemical solutions containing both fungicide and insecticides, which aims to provide long-term resistance to decay and insects. The treatment is an effective protection which makes the treated pine durable even in applications where it is exposed to the elements.</p>
        <ul class="row row-cols-1 row-cols-sm-2 ">
          <li>Decking H3</li>
          <li>R/H Structural in H2, H3 and H4</li>
          <li>Primed H3 DAR</li>
          <li>Door Jambs Primed H3</li>
          <li>Logs H4</li>
          <li>Slabs H4</li>
          <li>Sleepers H4</li>
          <li>Surveyors pegs</li>
          <li>Fencing - posts, rails and palings</li>
        </ul>
        <h5>Rougher Headed is usually for construction and landscaping.</h5>
        <p>It can be supplied in H2, H3, H4, H5, H6</p>
        <p><b>H2</b> treated pine is suitable to the interior, above-ground use.</p>
        <p><b>H3</b> treated pine is suitable for exterior and interior above-ground use.</p>
        <p><b>H4</b> treated pine is suitable for exterior, underground use.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <h2>What Are H Code Ratings for Treated Pine?</h2>
      <div class="container-fluid">  
        <h3>Standard Timber Sizes</h3>
        <h4>Structural Pine</h4>
      </div>
      <table class="table table-striped table-bordered" style="width: 70%; margin: auto;">
        <colgroup span="2"></colgroup>
        <tr class="table-dark "style="text-align: left; margin-bottom: 50px;" >
          <th width="94"></th>
          <th >Structural Pine <br>MGP10/F7/F5</th>
          <th>Structural Pine<br> MGP12</th>
          <th>BLUE Treated<br> MGP10 T2 H2</th>
          <th>Treated <br>MGP12 T2 H2</th>
          <th>GREEN Treated<br> MGP10/F7/F5 H3</th>
        </tr>
        <tr>
          <td>42 x 35</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>70 x 35</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>90 x 35</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>120 x 35</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>140 x 35</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>170 x 35</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>190 x 35 (F5)</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>70 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>90 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>120 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>140 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>190 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>240 x 45</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>290 x 45 (F7)</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>70 x 70</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X (H4)</td>
        </tr>
        <tr>
          <td>90 x 90</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X (H4)</td>
        </tr>
        <tr>
          <td>120 x 120</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X (H4)</td>
        </tr>
      </table>

      <h4>Pine Treatment Guide</h4>
      <table class="table table-striped table-bordered" style="width: 70%; margin: auto;">
        <colgroup span="2"></colgroup>
        <tr class="table-dark "style="text-align: left; margin-bottom: 50px;" >
          <th width="94">Hazard Level</th>
          <th >Exposure </th>
          <th>Specific Conditions</th>
          <th>Hazard</th>
          <th>Typical Uses</th>
        </tr>
        <tr>
          <td>H1</td>
          <td>Inside, above ground</td>
          <td>Completely protected fro the weather and well ventilated and protected from termites</td>
          <td>Lyctid Borer</td>
          <td>Framing, flooring, furniture, interior joinery</td>
        </tr>
        <tr>
          <td>H2</td>
          <td>Inside, above ground</td>
          <td>Protected from wetting</td>
          <td>Borers and Termites</td>
          <td>Framing, flooring and other similar uses in dry conditions</td>
        </tr>
        <tr>
          <td>H3</td>
          <td>Outside, above ground</td>
          <td>Subject to periodic moderate wetting</td>
          <td>Moderate decay, borers and termites</td>
          <td>Weatherboard, facia, bargeboards, window joinery</td>
        </tr>
        <tr>
          <td>H4</td>
          <td>Outside, in-ground contact</td>
          <td>Subject to severe wetting and leaching</td>
          <td>Severe decay, borers and termites</td>
          <td>Fence posts, greenhouses, pergola posts (in-ground) and landscaping timbers</td>
        </tr>
        <tr>
          <td>H5</td>
          <td>Outside, in-ground contact, contact with or in fresh water</td>
          <td>Subject to extreme wetting and leaching where you require a higher degree of protection</td>
          <td>Very severe decay, borers and termites</td>
          <td>Retaining walls, piling, house stumps, building poles</td>
        </tr>
        <tr>
          <td>H6</td>
          <td>Marine Water</td>
          <td>Subject to prolonged immersion in sea water</td>
          <td>Marine wood borers and decay</td>
          <td>Boat hulls, marines piles, jetty cross bracing</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
  {% endblock %}